/*general*/
html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fafaff;
}

body{
  line-height: 1.1;
  display: block;
}

div{
  display: block;
}

h1{
  color: #c2d3cd;
  font-size: 2.5rem;
}

h2{
  color: #88958D;
  font-size: 2rem;
}

h3 {
  color: #88958D;
  font-size: 1.3rem;
  line-height: 1.3;
}

p{
  color: #c2d3cd;
  font-size: 0.8rem;
}

a{
  color: #624cab;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.content{
  top: 3.55rem;
  position: relative;
  width: 100%;
  height: auto;
}

/*header*/
header{
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 10;
  background-color: #fafaff;
}

header .banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.33rem;
}

header .banner span{
  text-transform: uppercase;
  color: #624cab;
}

header #colmar{
  font-weight: 700;
}

header nav ul{
  display: flex;
}

nav li{
  padding-left: 16px;
}

header .logo{
  display: flex;
  align-items: center;
}

header .image{
  padding-right: 5px;
}


/*start*/
.start{
  background-color: #595959;
  display: flex;
  align-items: center;
}

.start img{
  width: 60%;
  padding: 32px 40px 32px 24px;
}

.side-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 24px;
}

.side-info a{
  color: #c2d3cd;
  background-color: #624cab;
  width: 100%;
  padding: 8px 0;
  text-align: center;
}


/*second*/
.second{
  display: flex;
  align-items: center;
}

.man-reading{
  flex-direction: column;
  border-right: 1px solid #595959;
}

.man-reading img{
  width: 90%;
  padding: 32px 24px;
  border-right: 1px solid #fafaff;
}

.practicing{
  padding: 0 24px;
}

.practicing p{
  padding-top: 24px;
}

#quote{
  font-family: "Bellefair", cursive;
  font-size: 1.2rem;
  text-align: right;
  padding-bottom: 24px;
}

.column{
  display: flex;
  flex-direction: column;
}

.article{
  display: flex;
  border-bottom: 1px solid #595959;
  text-align: left;
  align-items: center;
}

.article img{
  width: 35%;
  height: 35%;
  padding: 16px;
}

.text{
  flex-direction: column;
  padding-right: 1rem;
}

.guest{
  background-color: #595959;
}


/*courses*/
.courses{
  background-color: #595959;
}

/*thesis*/
video{
  width: 50%;
}

/*thesis*/


@media only screen and (max-width: 480px){

}
