/*general*/
body{
  font-family: 'Open Sans', sans-serif;
  /*background-color: #E1F4ED;*/
}

div
  border: 1px solid black;
}

h1 {
  color: #88958E;
}
h2,
h3, {
  color: #88958D;
}

p{
  color: #c2d3cd;
}

a{
  color: #624cab;
  text-decoration: none;
}

ul{
  list-style-type: none;
}
/*header*/
header{
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fafaff;
  align-items: center;
}

header .banner{
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

header .banner span{
  text-transform: uppercase;
}

header #colmar{
  font-weight: 700;
}

header nav ul{
  display: flex;
}

nav li{
  padding-left: 16px;
}


/*start*/
#main-picture img{
  width: 60%;
  height: auto;
}

/*second*/


/*courses*/


/*thesis*/


/*thesis*/


@media only screen and (max-width: 480px){

}
